.blog-card-link-main {
  text-decoration: none;
  color: var(--text-color);
}

.blog-card {
  width: 70vw;
  background-color: var(--background-base);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-active);
  overflow: hidden;
  border: 0.2px solid var(--border-color-base);
  display: flex;
  flex-direction: column;
  height: 70dvh;
}

.blog-card-img-container {
  overflow: hidden;
}

.blog-card-image {
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.blog-card-content {
  margin: 2rem;
}

.blog-card-title {
  font-size: 28px;
  font-weight: 600;
}

.blog-card-date,
.blog-card-excerpt {
  margin: 0.4rem auto;
}

.blog-card-date {
  color: var(--text-color-light);
}

.redirect-link {
  font-size: 12px;
  float: right;
  color: var(--text-color-light);
  cursor: pointer;
}
